{% extends 'home.html' %}
    
{% block content %}

<div class="container mt-3">
    <form method="POST" action="{{ url_for('addQuestion') }}" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-9">
                <h2>Question Details</h2>
                <div class="col-md-11">
                    <div class="form-group">
                        <label for="questionInput" class="h5">Question text:</label>
                        <textarea required class="form-control" id="questionInput" name="questionInput" style="width: 750px; height: 360px; resize: none; font-size: 14px;" rows="6"></textarea>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <div class="row-mx-4 d-flex justify-content-left">
                            <div class="col-md-10">
                                <label for="uploadImage" class="h5">Question Image (Optional)</label>
                                <input type="file" class="form-control-file" id="uploadImage" name="image">
                            </div>
                            <button type="button" id="removeImage" style="display: none; margin-top: 10px;">Remove Image</button>
                        </div>
                        <img class="preview-image" id="imagePreview" src="#" alt="Image Preview" style="display: none; margin-top: 10px;">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="line mt-3 mb-3"></div>
        
        <h3 id="msg" class="text-danger"></h3>

        <div class="row">
            <div class="col-md-10">
                <h2>Choose Associated Tags</h2>
                <div class="row-mx-10 d-flex justify-content-left">
                    <div class="col col-md-4">
                        <div class="form-group">
                            <label for="subjectDropdown" class="h5">Subject</label>
                            <select class="form-control" id="subjectDropdown" name="subjectDropdown">
                                <option value=""></option>
                                <option value="anatomy">Anatomy</option>
                                <option value="autonomics">Autonomics</option>
                                <option value="biomechanics">Biomechanics</option>
                                <option value="cardiopulmonary">Cardiopulmonary</option>
                                <option value="heent">H.E.E.N.T</option>
                                <option value="gastrointestinal">Gastrointestinal</option>
                                <option value="pregnancy">Pregnancy</option>
                                <option value="pediatrics">Pediatrics</option>
                                <option value="lymphatics">Lymphatics</option>
                                <option value="orthopedic/gaint">Orthopedics/Gait</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="subjectDropdown" class="h5">Body Region</label>
                            <select class="form-control" id="bodyDropdown" name="subjectDropdown">
                                <option value=""></option>
                                <option value="head">Head</option>
                                <option value="cervical">Cervical</option>
                                <option value="thoracic">Thoracic</option>
                                <option value="lumbar">Lumbar</option>
                                <option value="pelvis">Pelvis</option>
                                <option value="sacrum">Sacrum</option>
                                <option value="lower extremity">Lower Extremity</option>
                                <option value="upper extremity">Upper Extremity</option>
                                <option value="ribs">Ribs</option>
                                <option value="abdomen">Abdomen</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="subjectDropdown" class="h5">Treatment Technique</label>
                            <select class="form-control" id="treatmentDropdown" name="subjectDropdown">
                                <option value=""></option>
                                <option value="mysofacial release (MFR)/soft tissue (ST)">Mysofacial Release(MFR)/Soft Tissue(ST)</option>
                                <option value="muscle energy (ME)">Muscle energy(ME)</option>
                                <option value="high-velocity low-amplitude (HVLA)">High-velocity Low-amplitude (HVLA)</option>
                                <option value="counterstrain (CS)">Counterstrain(CS)</option>
                                <option value="facilitated positional release (FPR)">Facilitated Positional Release(FPR)</option>
                                <option value="balanced ligamentous tension (BLT)">Balanced Ligamentous Tension(BLT)</option>
                                <option value="still technique">Still Technique</option>
                                <option value="cranial techniques">Cranial Techniques</option>
                                <option value="lymphatics techniques">Lymphatics Techniques</option>
                                <option value="mechanism of action (MOA)">Mechanism of Action(MOA)</option>
                                <option value="indications/contraindications to treatment">Indications/Contraindications to Treatment</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="line mt-3 mb-3"></div>

         <!-- There was an idea thrown around to create a table for data to be put in and display to students.  This was scrapped due to time constraints -->
        <!-- <button class="btn btn-info">Create Table</button> -->

        <div class="row">
            <div class="col-md-10">
                <h2>Answers</h2>
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="answer1" class="h5">Enter Answer 1</label>
                        <input type="text" class="form-control" name="answer1" id="answer1" style="width: 320px" required onchange="checkAll()">
                        <div class="form-check">
                            <input type="radio" class="form-check-input answer-group" name="correctAnswer" id="correctAnswer1" value="1" required onclick="checkAll()">
                            <label class="form-check-label" for="correctAnswer1">Correct</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="answer2" class="h5">Enter Answer 2</label>
                        <input type="text" class="form-control" name="answer2" id="answer2" style="width: 320px" required onchange="checkAll()">
                        <div class="form-check">
                            <input type="radio" class="form-check-input answer-group" name="correctAnswer" id="correctAnswer2" value="2" onclick="checkAll()"> 
                            <label class="form-check-label" for="correctAnswer2">Correct</label>
                        </div>
                    </div>
                    <div id="extraAnswers">
                        <div class="form-group" id="answer3Container" style="display: none;">
                            <label for="answer3" class="h5">Enter Answer 3</label>
                            <input type="text" class="form-control answer-group" name="answer3" style="width: 320px" id="answer3">
                            <div class="form-check">
                                <input type="radio" class="form-check-input answer-group" name="correctAnswer" id="correctAnswer3" value="3">
                                <label class="form-check-label" for="correctAnswer3">Correct</label>
                            </div>
                        </div>

                        <div class="form-group" id="answer4Container" style="display: none;">
                            <label for="answer4" class="h5">Enter Answer 4</label>
                            <input type="text" class="form-control answer-group" name="answer4" style="width: 320px" id="answer4">
                            <div class="form-check">
                                <input type="radio" class="form-check-input answer-group" name="correctAnswer" id="correctAnswer4" value="4">
                                <label class="form-check-label" for="correctAnswer4">Correct</label>
                            </div>
                        </div>

                        <div class="form-group" id="answer5Container" style="display: none;">
                            <label for="answer5" class="h5">Enter Answer 5</label>
                            <input type="text" class="form-control answer-group" name="answer5" style="width: 320px" id="answer5">
                            <div class="form-check">
                                <input type="radio" class="form-check-input answer-group" name="correctAnswer" id="correctAnswer5" value="5">
                                <label class="form-check-label" for="correctAnswer5">Correct</label>
                            </div>
                        </div>

                        <div class="form-group" id="answer6Container" style="display: none;">
                            <label for="answer6" class="h5">Enter Answer 6</label>
                            <input type="text" class="form-control answer-group" name="answer6" style="width: 320px" id="answer6">
                            <div class="form-check">
                                <input type="radio" class="form-check-input answer-group" name="correctAnswer" id="correctAnswer6" value="6">
                                <label class="form-check-label" for="correctAnswer6">Correct</label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row-mx-10 d-flex justify-content-left">
                    <button type="button" class="btn btn-primary" style="text-align: center; width: 220px; height: 50px; margin-right: 12px;" id="addAnswerBtn">Add Another Answer</button>
                    <button type="button" class="btn btn-danger" disabled style="opacity = 0.5; cursor = not-allowed; text-align: center; width: 220px; height: 50px" id="removeAnswerBtn">Remove Last Answer</button>
                </div>
            </div>
            
            
            <div class="line mt-3 mb-3"></div>
            
            <div class="row">
                <div class="col-md-8">
                    <h2>Explanation</h2>
                    <div class="col-md-11">
                        <div class="form-group">
                            <label for="explanationInput" class="h5">Explanation Text (Optional):</label>
                            <textarea class="form-control form-control-lg" id="explanationInput" name="explanationInput" style="width: 750px; height: 360px; resize: none; font-size: 14px;" rows="7"></textarea>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <div class="row-mx-4 d-flex justify-content-left">
                                <div class="col-md-10">
                                    <label for="uploadExplanationImage" class="h5">Explanation Image (Optional)</label>
                                    <input type="file" class="form-control-file" id="uploadExplanationImage" name="explanationImage">
                                </div>
                                <button type="button" id="removeExplanationImage" style="display: none; margin-top: 10px;">Remove Image</button>
                            </div>
                            <img class="preview-image" id="imageExplanationPreview" src="#" alt="Image Preview" style="display: none; margin-top: 10px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button disabled id="submitButton" class="btn btn-success" style="position: fixed; bottom: 20px; right: 30px;">Create Question</button>
    </form>
</div>


<script>

    let currAns = 2;
    const maxAns = 6;
    const minAns = 2;

    document.getElementById("addAnswerBtn").addEventListener("click", function() {
        if (maxAns > currAns) {
            const newAns = document.getElementById(`answer${currAns + 1}Container`);
            if (newAns) {
                newAns.style.display = "block";
                currAns++;
            }
        }

        this.disabled = currAns === maxAns;
        this.style.opacity = currAns === maxAns ? "0.5" : "1";
        this.style.cursor = currAns === maxAns ? "not-allowed" : "pointer";

        document.getElementById("removeAnswerBtn").disabled = currAns === minAns;
        document.getElementById("removeAnswerBtn").style.opacity = currAns === minAns ? "0.5" : "1";
        document.getElementById("removeAnswerBtn").style.cursor = currAns === minAns ? "not-allowed" : "pointer";
    });

    document.getElementById("removeAnswerBtn").addEventListener("click", function() {
        if (currAns > minAns) {
            const lastAns = document.getElementById(`answer${currAns}Container`);
            const textInput = document.getElementById(`answer${currAns}`);
            const radioInput = document.getElementById(`correctAnswer${currAns}`);
            
            if (textInput) {
                textInput.value = "";
            }

            if (radioInput) {
                radioInput.checked = false;
            }

            if (lastAns) {
                lastAns.style.display = "none";
                currAns--;
            } 
        }

        this.disabled = currAns === minAns;
        this.style.opacity = currAns === minAns ? "0.5" : "1";
        this.style.cursor = currAns === minAns ? "not-allowed" : "pointer";

        document.getElementById("addAnswerBtn").disabled = currAns === maxAns;
        document.getElementById("addAnswerBtn").style.opacity = currAns === maxAns ? "0.5" : "1";
        document.getElementById("addAnswerBtn").style.cursor = currAns === maxAns ? "not-allowed" : "pointer";
    }); 

    document.getElementById("uploadImage").addEventListener("change", function(event) {
        const file = event.target.files[0];

        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const imagePreview = document.getElementById("imagePreview");
                const removeBtn = document.getElementById("removeImage");
                
                imagePreview.src = e.target.result;
                imagePreview.style.display = "block";
                removeBtn.style.display = "inline-block";
            };
            reader.readAsDataURL(file);
        }
    });
    
    document.getElementById("uploadExplanationImage").addEventListener("change", function(event) {
        const file = event.target.files[0];

        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const imagePreview = document.getElementById("imageExplanationPreview");
                const removeBtn = document.getElementById("removeExplanationImage");
                
                imagePreview.src = e.target.result;
                imagePreview.style.display = "block";
                removeBtn.style.display = "inline-block";
            };
            reader.readAsDataURL(file);
        }
    });
    
    document.getElementById("removeImage").addEventListener("click", function() {
        const input = document.getElementById("uploadImage");
        const preview = document.getElementById("imagePreview");
        const removeBtn = document.getElementById("removeImage");
        
        input.value = "";
        preview.src = "#";
        preview.style.display = "none";
        removeBtn.style.display = "none";
    });

    
    document.getElementById("removeExplanationImage").addEventListener("click", function() {
        const input = document.getElementById("uploadExplanationImage");
        const preview = document.getElementById("imageExplanationPreview");
        const removeBtn = document.getElementById("removeExplanationImage");

        input.value = "";
        preview.src = "#";
        preview.style.display = "none";
        removeBtn.style.display = "none";
    });

    //Check for when Subjects change
    document.getElementById("subjectDropdown").addEventListener("change", function() { 
        checkAll()
    })
    document.getElementById("treatmentDropdown").addEventListener("change", function() { 
        checkAll()
    })
    document.getElementById("bodyDropdown").addEventListener("change", function() { 
        checkAll()
    })

    //Will check to make sure that the correct answer is on a non-blank input, AND that at least one subject is selected
    function checkAll() {
        //The ID of the correct answer
        var correctAnswerID = document.querySelector('input[name="correctAnswer"]:checked').value;
        var answerInput = document.querySelector('input[name="answer' + correctAnswerID + '"]').value;
        console.log(answerInput);

        // 3 Booleans, if ALL of them are true, we can't confirm the post request.
        var subject = document.getElementById("subjectDropdown").value == "";
        var bodyRegion = document.getElementById("bodyDropdown").value == "";
        var treatmentTechnique = document.getElementById("treatmentDropdown").value == "";

        console.log("The correct answer is: " + correctAnswerID)
    
    // Check to make sure that the selected answer isn't blank. 
    if(answerInput == "")
        {
            document.getElementById('msg').innerText = 'Selected answer needs to be non-blank'
            document.getElementById("submitButton").disabled = true;
            return
        }
        
        if(subject && bodyRegion && treatmentTechnique){
            document.getElementById('msg').innerText = 'At least one of the tags needs to be selected.'
            document.getElementById("submitButton").disabled = true;
        }
        else
        {
            document.getElementById('msg').innerText = ''
            document.getElementById("submitButton").disabled = false;
        }

    }
    
</script>

<style>

    .line {
        width: 100%;
        margin: 0 auto;
        border-top: 2px solid black;
        transform: translateX(-5%);
    }
    
    .preview-image {
        max-width: 1024px;
        max-height: 576px;
        width: auto;
        height: auto;
        display: block;
        margin-top: 10px;
    }
    
    body {
        background-color: #e0e0e0;
    }

</style>
{% endblock %}
