{% extends 'home.html' %}
    
{% block content %}

<div class="container mt-4">
    <form method="POST" action="{{ url_for('addQuestion') }}" enctype="multipart/form-data">
        <div class="row">
            <!-- Container 1: Upload Image -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="uploadImage">Question Image</label>
                    <input type="file" class="form-control-file" id="uploadImage" name="image">
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Container 2: Question Input, Tag, Category, Create Table -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="questionInput" class="h5">Question:</label>
                    <textarea required class="form-control" id="questionInput" name="questionInput" rows="6"></textarea>
                </div>
            </div>
        </div>
        
        <h3 id="msg" class="text-danger"></h3>

        <div class="row">
            <div class="col col-md-3">
                <div class="form-group">
                    <label for="subjectDropdown">Subject</label>
                    <select class="form-control" id="subjectDropdown" name="subjectDropdown">
                        <option value=""></option>
                        <option value="anatomy">Anatomy</option>
                        <option value="autonomics">Autonomics</option>
                        <option value="biomechanics">Biomechanics</option>
                        <option value="cardiopulmonary">Cardiopulmonary</option>
                        <option value="heent">H.E.E.N.T</option>
                        <option value="gastrointestinal">Gastrointestinal</option>
                        <option value="pregnancy">Pregnancy</option>
                        <option value="pediatrics">Pediatrics</option>
                        <option value="lymphatics">Lymphatics</option>
                        <option value="orthopedic/gaint">Orthopedics/Gait</option>
                        
                    </select>
                </div>
                    
            </div>

            <div class="col-md-3">
                <label for="subjectDropdown">Body Region</label>
                    <select class="form-control" id="bodyDropdown" name="subjectDropdown">
                        <option value=""></option>
                        <option value="head">Head</option>
                        <option value="cervical">Cervical</option>
                        <option value="thoracic">Thoracic</option>
                        <option value="lumbar">Lumbar</option>
                        <option value="pelvis">Pelvis</option>
                        <option value="sacrum">Sacrum</option>
                        <option value="lower extremity">Lower Extremity</option>
                        <option value="upper extremity">Upper Extremity</option>
                        <option value="ribs">Ribs</option>
                        <option value="abdomen">Abdomen</option>

                    </select>
            </div>

            <div class="col-md-3">
                <label for="subjectDropdown">Treatment Techniques</label>
                    <select class="form-control" id="treatmentDropdown" name="subjectDropdown">
                        <option value=""></option>
                        <option value="mysofacial release (MFR)/soft tissue (ST)">Mysofacial Release(MFR)/Soft Tissue(ST)</option>
                        <option value="muscle energy (ME)">Muscle energy(ME)</option>
                        <option value="high-velocity low-amplitude (HVLA)">High-velocity Low-amplitude (HVLA)</option>
                        <option value="counterstrain (CS)">Counterstrain(CS)</option>
                        <option value="facilitated positional release (FPR)">Facilitated Positional Release(FPR)</option>
                        <option value="balanced ligamentous tension (BLT)">Balanced Ligamentous Tension(BLT)</option>
                        <option value="still technique">Still Technique</option>
                        <option value="cranial techniques">Cranial Techniques</option>
                        <option value="lymphatics techniques">Lymphatics Techniques</option>
                        <option value="mechanism of action (MOA)">Mechanism of Action(MOA)</option>
                        <option value="indications/contraindications to treatment">Indications/Contraindications to Treatment</option>

                    </select>
            </div>
        </div>

         <!-- There was an idea thrown around to create a table for data to be put in and display to students.  This was scrapped due to time constraints -->
        <!-- <button class="btn btn-info">Create Table</button> -->

        <div class="row">
            <!-- Container 3: Answers -->
            <div class="col-md-4">
                <label class="h5">Answers:</label>
                <p class="text-danger m-0">*Leave unneeded answers blank</p>
                <div class="form-group">
                    <input type="text" class="form-control" name="answer1" id="answer1" required onchange="checkAll()">
                    <div class="form-check">
                        <input type="radio" class="form-check-input answer-group" name="correctAnswer" id="correctAnswer1" value="1" required onclick="checkAll()">
                        <label class="form-check-label" for="correctAnswer1">Correct</label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="answer2" id="answer2" required onchange="checkAll()">
                    <div class="form-check">
                        <input type="radio" class="form-check-input answer-group" name="correctAnswer" id="correctAnswer2" value="2" onclick="checkAll()"> 
                        <label class="form-check-label" for="correctAnswer2">Correct</label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control answer-group" name="answer3" id="answer3" onchange="checkAll()">
                    <div class="form-check">
                        <input type="radio" class="form-check-input answer-group" name="correctAnswer" id="correctAnswer3" value="3" onclick="checkAll()">
                        <label class="form-check-label" for="correctAnswer3">Correct</label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="answer4" id="answer4" onchange="checkAll()">
                    <div class="form-check">
                        <input type="radio" class="form-check-input answer-group" name="correctAnswer" id="correctAnswer4" value="4" onclick="checkAll()">
                        <label class="form-check-label" for="correctAnswer4">Correct</label>
                    </div>
                </div>
                <div class="form-group" id="answer5Container">
                    <input type="text" class="form-control answer-group" name="answer5" id="answer5" onchange="checkAll()">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="correctAnswer" id="correctAnswer5" value="5" onclick="checkAll()">
                        <label class="form-check-label" for="correctAnswer5">Correct</label>
                    </div>
                </div>
                <div class="form-group" id="answer6Container">
                    <input type="text" class="form-control answer-group" name="answer6" id="answer6" onchange="checkAll()">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="correctAnswer" id="correctAnswer" value="6" onclick="checkAll()">
                        <label class="form-check-label" for="correctAnswer6">Correct</label>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <!-- Column 2: Explanation and Upload Image -->
                <div class="form-group">
                    <label for="explanationInput" class="h5">Explanation:</label>
                    <textarea class="form-control form-control-lg" id="explanationInput" name="explanationInput" rows="7"></textarea>
                </div>
                <div class="form-group">
                    <label for="uploadExplanationImage">Explanation Image</label>
                    <input type="file" class="form-control-file" id="uploadExplanationImage" name="explanationImage">
                </div>
                <!-- <button type="button" class="btn btn-primary" id="addAnswerBtn">Add Another Answer</button> -->
                <button disabled id="submitButton" class="btn btn-success">Submit Question</button>
            </div>
        </div>
    </form>
</div>


<script>
    //Check for when Subjects change
    document.getElementById("subjectDropdown").addEventListener("change", function() { 
        checkAll()
    })
    document.getElementById("treatmentDropdown").addEventListener("change", function() { 
        checkAll()
    })
    document.getElementById("bodyDropdown").addEventListener("change", function() { 
        checkAll()
    })

    //Will check to make sure that the correct answer is on a non-blank input, AND that at least one subject is selected
    function checkAll() {
        //The ID of the correct answer
        var correctAnswerID = document.querySelector('input[name="correctAnswer"]:checked').value;
        var answerInput = document.querySelector('input[name="answer' + correctAnswerID + '"]').value;
        console.log(answerInput);

        // 3 Booleans, if ALL of them are true, we can't confirm the post request.
        var subject = document.getElementById("subjectDropdown").value == "";
        var bodyRegion = document.getElementById("bodyDropdown").value == "";
        var treatmentTechnique = document.getElementById("treatmentDropdown").value == "";

        console.log("The correct answer is: " + correctAnswerID)
    
    // Check to make sure that the selected answer isn't blank. 
    if(answerInput == "")
        {
            document.getElementById('msg').innerText = 'Selected answer needs to be non-blank'
            document.getElementById("submitButton").disabled = true;
            return
        }
        
        if(subject && bodyRegion && treatmentTechnique){
            document.getElementById('msg').innerText = 'At least one of the tags needs to be selected.'
            document.getElementById("submitButton").disabled = true;
        }
        else
        {
            document.getElementById('msg').innerText = ''
            document.getElementById("submitButton").disabled = false;
        }

    }

    //Unused event to add more answers if needed
    
    // document.addEventListener('DOMContentLoaded', function () {
    //     var addAnswerBtn = document.getElementById('addAnswerBtn');
    //     var answer5Container = document.getElementById('answer5Container');
    //     var answer6Container = document.getElementById('answer6Container');

    //     var answerCount = 4; // Set the initial answer count

    //     addAnswerBtn.addEventListener('click', function () {
    //         if (answerCount < 6) {
    //             answerCount++;

    //             if (answerCount === 5) {
    //                 answer5Container.style.display = 'block';
    //             } else if (answerCount === 6) {
    //                 answer6Container.style.display = 'block';
    //             }
    //         }
    //     });
    // });
</script>
{% endblock %}
