{% extends 'home.html' %}   
{% block content %}

<div class="container mt-4">
    <form method="POST" enctype="multipart/form-data">

        <div class="row">
            <h5>You are currently editing Question ID # {{ question.getID() }} </h3>
        </div>

        <div class="row">
            <!-- Container 1: Upload Image -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="uploadImage">Question Image</label>
                    <input type="file" class="form-control-file" id="uploadImage" name="image">
                </div>
            </div>
                <div class="col-md-6">
                    {% if question.getImage() %}
                    <div>Current Image:</div>
                    <img src="data:image/jpeg;base64,{{ question.getImage() }}" alt="did not load" style="width: 500px; height: 500px;">
                    {% endif %}
                </div>
        </div>

        <div class="row">
            <!-- Container 2: Question Input, Tag, Category, Create Table -->
            <div class="col-md-8">
                <div class="form-group">
                    <label for="questionInput" class="h5">Question:</label>
                    <textarea class="form-control" id="questionInput" name="questionInput" rows="7">{{ question.getQuestionText() }}</textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-3">
                <div class="form-group">
                    <label for="subjectDropdown">Subject</label>
                    <select class="form-control" id="subjectDropdown" name="subjectDropdown">
                        <option value=""></option>
                        <option {% if 'anatomy' in question.getTags() %} selected {% endif %} value="anatomy">Anatomy</option>
                        <option {% if 'autonomics' in question.getTags() %} selected {% endif %} value="autonomics">Autonomics</option>
                        <option {% if 'biomechanics' in question.getTags() %} selected {% endif %} value="biomechanics">Bio Mechanics</option>
                        <option {% if 'cardiopulmonary' in question.getTags() %} selected {% endif %} value="cardiopulmonary">Cardiopulmonary</option>
                        <option {% if 'heent' in question.getTags() %} selected {% endif %} value="heent">H.E.E.N.T</option>
                        <option {% if 'gastrointestinal' in question.getTags() %} selected {% endif %} value="gastrointestinal">Gastrointestinal</option>
                        <option {% if 'pregnancy' in question.getTags() %} selected {% endif %} value="pregnancy">Pregnancy</option>
                        <option {% if 'pediatrics' in question.getTags() %} selected {% endif %} value="pediatrics">Pediatrics</option>
                        <option {% if 'lymphatics' in question.getTags() %} selected {% endif %} value="lymphatics">Lymphatics</option>
                        <option {% if 'orthopedic/gaint' in question.getTags() %} selected {% endif %} value="orthopedic/gaint">Orthopedics/Gait</option>
                        
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <label for="subjectDropdown">Body Region</label>
                    <select class="form-control" id="subjectDropdown" name="subjectDropdown">
                        <option value=""></option>
                        <option {% if 'head' in question.getTags() %} selected {% endif %} value="head">Head</option>
                        <option {% if 'cervical' in question.getTags() %} selected {% endif %} value="cervical">Cervical</option>
                        <option {% if 'thoracic' in question.getTags() %} selected {% endif %} value="thoracic">Thoracic</option>
                        <option {% if 'lumbar' in question.getTags() %} selected {% endif %} value="lumbar">Lumbar</option>
                        <option {% if 'pelvis' in question.getTags() %} selected {% endif %} value="pelvis">Pelvis</option>
                        <option {% if 'sacrum' in question.getTags() %} selected {% endif %} value="sacrum">Sacrum</option>
                        <option {% if 'lower extremity' in question.getTags() %} selected {% endif %} value="lower extremity">Lower Extremity</option>
                        <option {% if 'upper extremity' in question.getTags() %} selected {% endif %} value="upper extremity">Upper Extremity</option>
                        <option {% if 'ribs' in question.getTags() %} selected {% endif %} value="ribs">Ribs</option>
                        <option {% if 'abdomen' in question.getTags() %} selected {% endif %} value="abdomen">Abdomen</option>

                    </select>
            </div>

            <div class="col-md-3">
                <label for="subjectDropdown">Treatment Techniques</label>
                    <select class="form-control" id="subjectDropdown" name="subjectDropdown">
                        <option value=""></option>
                        <option {% if 'mysofacial release (MFR)/soft tissue (ST)' in question.getTags() %} selected {% endif %} value="mysofacial release (MFR)/soft tissue (ST)">Mysofacial Release(MFR)/Soft Tissue(ST)</option>
                        <option {% if 'muscle energy (ME)' in question.getTags() %} selected {% endif %} value="muscle energy (ME)">Muscle energy(ME)</option>
                        <option {% if 'high-velocity low-amplitude (HVLA)' in question.getTags() %} selected {% endif %} value="high-velocity low-amplitude (HVLA)">High-velocity Low-amplitude (HVLA)</option>
                        <option {% if 'counterstrain (CS)' in question.getTags() %} selected {% endif %} value="counterstrain (CS)">Counterstrain(CS)</option>
                        <option {% if 'facilitated positional release (FPR)' in question.getTags() %} selected {% endif %} value="facilitated positional release (FPR)">Facilitated Positional Release(FPR)</option>
                        <option {% if 'balanced ligamentous tension (BLT)' in question.getTags() %} selected {% endif %} value="balanced ligamentous tension (BLT)">Balanced Ligamentous Tension(BLT)</option>
                        <option {% if 'still technique' in question.getTags() %} selected {% endif %} value="still technique">Still Technique</option>
                        <option {% if 'cranial techniques' in question.getTags() %} selected {% endif %} value="cranial techniques">Cranial Techniques</option>
                        <option {% if 'lymphatics techniques' in question.getTags() %} selected {% endif %} value="lymphatics techniques">Lymphatics Techniques</option>
                        <option {% if 'mechanism of action (MOA)' in question.getTags() %} selected {% endif %} value="mechanism of action (MOA)">Mechanism of Action(MOA)</option>
                        <option {% if 'indications/contraindications to treatment' in question.getTags() %} selected {% endif %} value="indications/contraindications to treatment">Indications/Contraindications to Treatment</option>

                    </select>
            </div>
        </div>

         <!-- There was an idea thrown around to create a table for data to be put in and display to students.  This was scrapped due to time constraints -->
        <!-- <button class="btn btn-info">Create Table</button> -->

        <form>
        <div class="row">
            <!-- Container 3: Answers -->
            <!-- Answer 1 -->
            <div class="col-md-4">
                <label class="h5">Answers:</label>
                <div class="form-group">
                    <input type="text" class="form-control" name="answer1" id="answer1" value="{{ question.getAnswers()[0].getAnswerText() }}">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="correctAnswer" id="correctAnswer1" value="1"
                        {% if question.getAnswers()[0].getIsCorrect() == '1' %}
                        checked
                        {% endif %}
                         >
                        <label class="form-check-label" for="correctAnswer1">Correct</label>
                    </div>
                </div>
                <!-- Answer 2 -->
                <div class="form-group">
                    <input type="text" class="form-control" name="answer2" id="answer2" value="{{ question.getAnswers()[1].getAnswerText() }}">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="correctAnswer" id="correctAnswer2" value="2"
                        {% if question.getAnswers()[1].getIsCorrect() == '1' %}
                        checked
                    {% endif %}
                        >
                        <label class="form-check-label" for="correctAnswer2">Correct</label>
                    </div>
                </div>
                <!-- Answer 3 -->
                <div class="form-group">
                    <input type="text" class="form-control" name="answer3" id="answer3" value="{{ question.getAnswers()[2].getAnswerText() }}">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="correctAnswer" id="correctAnswer3" value="3"
                        {% if question.getAnswers()[2].getIsCorrect() == '1' %}
                        checked
                    {% endif %}>
                        <label class="form-check-label" for="correctAnswer3">Correct</label>
                    </div>
                </div>
                <!-- Answer 4 -->
                {% set answer = question.getAnswers()[3] %}
                <div class="form-group">
                    <input type="text" class="form-control" name="answer4" id="answer4" 
                       {% if answer %}
                         value="{{ answer.getAnswerText() }}"
                        {% else %}
                          value = ""
                        {% endif %}
                        >
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="correctAnswer" id="correctAnswer4" value="4"
                        {% if answer %}
                            {% if answer.getIsCorrect() == '1' %}
                                checked
                            {% endif %}
                        {% endif %}
                        >
                        <label class="form-check-label" for="correctAnswer4">Correct</label>
                    </div>  
                </div>
                <!-- Answer 5 -->
                {% set answer = question.getAnswers()[4] %}
                <div class="form-group">
                    <input type="text" class="form-control" name="answer5" id="answer5" 
                       {% if answer %}
                         value="{{ answer.getAnswerText() }}"
                        {% else %}
                          value = ""
                        {% endif %}
                        >

                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="correctAnswer" id="correctAnswer5" value="5"
                        {% if answer %}
                            {% if answer.getIsCorrect() == '1' %}
                                checked
                            {% endif %}
                        {% endif %}
                        >
                        <label class="form-check-label" for="correctAnswer5">Correct</label>
                    </div>  
                </div>
                <!-- Answer 6 -->
                {% set answer = question.getAnswers()[5] %}
                <div class="form-group">
                    <input type="text" class="form-control" name="answer6" id="answer6" 
                       {% if answer %}
                         value="{{ answer.getAnswerText() }}"
                        {% else %}
                          value = ""
                        {% endif %}
                        >
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="correctAnswer" id="correctAnswer6" value="6"
                        {% if answer %}
                            {% if answer.getIsCorrect() == '1' %}
                                checked
                            {% endif %}
                        {% endif %}
                        >
                        <label class="form-check-label" for="correctAnswer6">Correct</label>
                    </div>  
                </div>
            </div>

            <div class="col-md-8">
                <!-- Column 2: Explanation and Upload Image -->
                <div class="form-group">
                    <label for="explanationInput" class="h5">Explanation:</label>
                    <textarea class="form-control form-control-lg" id="explanationInput" name="explanationInput" rows="7">{{ question.getExampleText() }}</textarea>
                </div>
                <div class="form-group">
                    <label for="uploadExplanationImage">Explanation Image</label>
                    <input type="file" class="form-control-file" id="uploadExplanationImage" name="explanationImage">
                </div>
                    {% if question.getExplanationImage() %}
                    <img src="data:image/jpeg;base64,{{ question.getExplanationImage() }}" alt="did not load" style="width: 500px; height: 500px;">
                    {% endif %}
                <button name="button" class="btn btn-success" value="editQuestion">Edit Question</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Delete Question</button>

                <!-- Are you sure you want to delete Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this question?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                       
                        <div class="modal-body">
                        Deleting this question means that it will be deactivated forever...
                        <p class="text-danger">
                        (A very long time).
                        </p>
                        </div>

                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button name="button" value="deleteQuestion" class="btn btn-danger">Delete Question</button>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- End of modal -->
            </div>
        </div>
        </form> <!-- Form for the radio buttons in the answers-->
    </form>
</div>
{% endblock %}
