{% extends 'home.html' %}

{% block content %}
<form method="POST" action = "{{ url_for('searchQuestion') }} ">
<div class="container">
    <div class="row d-flex align-items-center justify-content-start">
        <label for="searchQuestionID" style="margin-right: 12px">Search for a question based on its ID:</label>
        <input type="text" class="form-control form-control-sm" style="width: 150px; margin-right: 12px;" name="searchQuestionID" id="searchQuestionID">
        <button name="button" value="idSearch" style="width: 150px; height: 50px; margin-top: 0px; text-align: center; display: flex; align-items: center;" class="btn btn-primary">Search based off of ID</button>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="tagDropdown">Search Tag:</label>
                <select class="form-control" id="tagDropdown" name="tagDropdown">
                    <option value="{{ tag }}">{{ tag.capitalize() }}</option>
                    <option value="anatomy">Anatomy</option>
                    <option value="autonomics">Autonomics</option>
                    <option value="biomechanics">Bio Mechanics</option>
                    <option value="cardiopulmonary">Cardiopulmonary</option>
                    <option value="heent">H.E.E.N.T</option>
                    <option value="gastrointestinal">Gastrointestinal</option>
                    <option value="pregnancy">Pregnancy</option>
                    <option value="pediatrics">Pediatrics</option>
                    <option value="lymphatics">Lymphatics</option>
                    <option value="orthopedic/gaint">Orthopedics/Gait</option>
                    <option value="mysofacial release (MFR)/soft tissue (ST)">Mysofacial Release (MFR)/Soft Tissue (ST)</option>
                    <option value="head">Head</option>
                    <option value="muscle energy (ME)">Muscle energy(ME)</option>
                    <option value="cervical">Cervical</option>
                    <option value="thoracic">Thoracic</option>
                    <option value="counterstrain (CS)">Counterstrain(CS)</option>
                    <option value="facilitated positional release (FPR)">Facilitated Positional Release(FPR)</option>
                    <option value="balanced ligamentous tension (BLT)">Balanced Ligamentous Tension(BLT)</option>
                    <option value="still technique">Still Technique</option>
                    <option value="cranial techniques">Cranial Techniques</option>
                    <option value="lymphatics techniques">Lymphatics Techniques</option>
                    <option value="mechanism of action (MOA)">Mechanism of Action(MOA)</option>
                    <option value="indications/contraindications to treatment">Indications/Contraindications to Treatment</option>
                    <option value="lumbar">Lumbar</option>
                    <option value="pelvis">Pelvis</option>
                    <option value="sacrum">Sacrum</option>
                    <option value="lower extremity">Lower Extremity</option>
                    <option value="upper extremity">Upper Extremity</option>
                    <option value="ribs">Ribs</option>
                    <option value="abdomen">Abdomen</option>
                </select>
            </div>
        </div>
        <button name="button" class="btn btn-primary" style="margin-bottom: 10px" value="tagSearch">Search based off of tag </button>
    </div>
   
    <div class="row" id="searchResults">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Question Text</th>
                    <th>Tag</th>
                </tr>
            </thead>
            <tbody>
                {% for question in tagQuestions[:] %}
                <tr>
                    <td class="smaller-font">{{ question['questionID'] }}</td>
                    <td class="smaller-font">
                    <a href="/editQuestion/{{question['questionID']}}">{{ question['questionText'] }}
                    </a></td>
                    <td class="smaller-font">{{ question['tag'].capitalize() }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
</form>

<style>
    /* Define a CSS class for reducing font size */
    .smaller-font {
        font-size: 15px; /* You can adjust the size as needed */
    }
    
    body {
        background-color: #e0e0e0;
    }
    
</style>
{% endblock %}