<!DOCTYPE html>

<html lang="en">

  <head>
      <title>Question Successfully Added</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <meta name="description" content="The Home page for the OMM Site">
      <meta name="author" content="Aidan">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}"
  </head>

<body>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <div class="nav">
                {% include 'navbar.html' %}
            </div>
        </div>
        <div class="col-md-9">
            <div class="container">
                {% block content %}
                    <h1>Question Successfully Added!</h1>
                    {% if question.getImage() %}
                    <img src="data:image/jpeg;base64,{{ question.getImage() }}" alt="did not load" style="max-width: 1024px; max-height: 576px; width: auto; height: auto; display: block; margin-top: 10px;">
                    {% endif %}
                    <h3>Question:</h3>
                    <p>{{ question.getQuestionText() }} </p>
                    <p><span class="text-primary"> Question ID: </span>{{ question.getID() }}</p>
                    <h3>Answers:</h3>
                    <ul>
                        {% for answer in question.getAnswers() %}
                            <input {% if answer.getIsCorrect() == '1' %} checked {% else %} disabled {% endif %} type="checkbox"> <span>{{ answer.getAnswerText() }} </span>
                            <br>
                        {% endfor %}
                    </ul>

                    <h3>Explanation:</h3>
                    <p>{{ question.getExampleText() }}</p>
                    {% if question.getExplanationImage() %}
                    <img src="data:image/jpeg;base64,{{ question.getExplanationImage() }}" alt="did not load" style="max-width: 1024px; max-height: 576px; width: auto; height: auto; display: block; margin-top: 10px;">
                    {% endif %}

                    <a href="/addQuestion"><button class="btn btn-warning btn-lg "type="button"><div class="text-primary">Create Another Question</div></button></a>

                {% endblock %}
            </div>
        </div>
    </div>
</div>

<style>

    body {
        background-color: #e0e0e0;
    }
</style>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

</body>

</html>