{% extends 'home.html' %}

{% block content %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script>
    
    // Ensure only the first question set is initially visible
    document.addEventListener('DOMContentLoaded', function() {
        startTimer();
        showQuestionSet(currentIndex);

    // Check if question_states is present
    var questionStates = question_states || null;
    if (questionStates) {
        displayQuestionStates(questionStates);
    }
    });

    var exitExamButton = event.target.closest('.btn-exit-exam');
    if (exitExamButton) {
        $('#exitExamModal').modal('show');
    }

//   document.addEventListener("selectionchange", highlightSelectedText);
  document.addEventListener("selectionchange",event=>{
  let selection = document.getSelection ? document.getSelection().toString() :  document.selection.createRange().toString() ;
  console.log(selection);
})
    // document.addEventListener('select', highlightSelectedText);
    
</script>
<div style="padding-left: 90%;">
    Time: 
    <p id="timer">00:00</p>
</div>

{% for question in testList.getTestSet() %}
<div class="question-set col-md-6" style="padding-left: 20%;" data-question-id="{{ question.getID() }}">
    <div class="questionContainer" id="selectableText">        
        {{ question.getQuestionText() }}
        

        {% if question.getImage() %}
                    <div>Current Image:</div>
                    <img src="data:image/jpeg;base64,{{ question.getImage() }}" alt="did not load" style="width: 500px; height: 500px;">
        {% endif %}
        <!-- <script>console.log("start: " + '{{ question.getImage() }}')</script> -->
        <!-- <img src="data:image/jpeg;base64,{{ question.getImage() }}" alt="did not load" style="width: 500px; height: 500px;"> -->
    </div>
    <!-- End of Question Container -->

    <div class="answerContainer">
        {% for answer in question.getAnswers() %}
        <!-- Div for Radio Buttons next to answers -->
        <div class="space">
            <div class="form-check">
                <input class="form-check-input" type="radio" id="radio{{ answer.getAnswerID() }}" name="selected_answer" value="{{ answer.getAnswerID() }}">
                <label for="radio{{ answer.getAnswerID() }}" class="form-check-label" data-is-correct="{{ answer.getIsCorrect() | int }}"> 
                    {{ answer.getAnswerText() }}
                    <!-- {{ "IsCorrect Val:" + answer.getIsCorrect() }} -->
                    <!-- {{ "AnswerID Val:" + answer.getAnswerID()  }} -->
                </label>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
    <!-- End of Answer Container -->

    <!-- TODO: NEEDS CSS STYLING TO MAKE LOOK PRETTIER -->
    <div class="feedback-container"></div>
    <div id="submitBtn" data-is-timed="{{ isTimed }}"></div>

    <div class="button-container fixed-bottom d-flex justify-content-end mb-3" style="padding-right: 20px;" id="buttonContainer">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary btn-lg mr-5 rounded" onclick="moveToPreviousQuestion()">Previous</button>
            <button type="button" class="btn btn-primary btn-lg mr-5 rounded" onclick="storeAnswerData()">Next</button>
            <button type="button" class="btn btn-info btn-lg mr-5 rounded"    onclick="highlightSelectedText()">Highlight</button>
            <button type="button" class="btn btn-warning btn-lg mr-5 rounded" onclick="strikethroughSelectedAnswer()">Strikethrough</button>
            {% if isTimed == 'False' and not loop.last %}
            <button type="submit" class="btn btn-primary btn-lg rounded" id="submitBtn" onclick="showFeedback()">Check work</button>
            {% endif %}

            {% if loop.last %} 
                <button type="button" class="btn btn-success btn-lg rounded" onclick="completeExam()">Complete Exam</button>
            {% endif %}
            <button type="button" class="btn btn-danger btn-lg rounded btn-exit-exam" data-toggle="modal" data-target="#exitExamModal">Exit Exam</button>

        </div>
    </div>

    
    <div class="example-container">
        <div class="example-text">
            <p>{{ question.getExampleText() }}</p>
            <img src = "data:image/jpeg;base64,{{ question.getExplanationImage() }}" alt = "did not load" />
        </div>
    </div>
</div>
{% endfor %}
<!-- End of Button Container -->
<!-- Bootstrap Modal -->
<div class="modal" tabindex="-1" role="dialog" id="exitExamModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Exit Exam</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="false">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to exit the exam?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="exitExam()">Exit Exam</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="exitExamModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Exit Exam</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="false">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to exit the exam?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="exitExam()">Exit Exam</button>
            </div>
        </div>
    </div>
</div>

<style>
    .space {
        padding: 10px;
    }
    .example-container {
        display: none;
    }

    .highlighted-text {
    background-color: yellow;
    }

    /* Styles for Strikethrough Answer */
    .strikethrough {
        text-decoration: line-through;
        color: #FF0000; /* Change the color as per your preference */
    }

    #timer {
        display: block;
    }

</style>
{% endblock %}