{% include 'navbar.html' %}

{% block content %}

<section id="minimal-statistics" style="padding-left: 20% ">
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <h4>Statistics</h4>
      <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="icon-pencil primary font-large-2 float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3>{{ stats.get('Category').get('total') }}</h3>
                <span>Category Questions</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="icon-speech warning font-large-2 float-left"></i>
              </div>
              <div class="media-body text-left">
                <h3 class="success">{{ stats.get('Category').get('answered') }}%</h3>
                <span>Total questions answered from Category</span>
                <div class="progress mt-1 mb-0" style="height: 7px;">
                  <div id="category_answered" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="success">{{ stats.get('Category').get('correct') }}%</h3>
                <span>Total correct answers</span>
              </div>
              <div class="align-self-center">
                <i class="icon-cup success font-large-2 float-right"></i>
              </div>
            </div>
            <div class="progress mt-1 mb-0" style="height: 7px;">
              <div id="category_correct" class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="icon-pencil primary font-large-2 float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3>{{ stats.get('Body region').get('total') }}</h3>
                <span>Body Region Questions</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="icon-speech warning font-large-2 float-left"></i>
              </div>
              <div class="media-body text-left">
                <h3 class="success">{{ stats.get('Body region').get('answered') }}%</h3>
                <span>Total questions answered from Body Region</span>
                <div class="progress mt-1 mb-0" style="height: 7px;">
                  <div id="body_answered" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="success">{{ stats.get('Body region').get('correct') }}%</h3>
                <span>Total correct answers</span>
              </div>
              <div class="align-self-center">
                <i class="icon-cup success font-large-2 float-right"></i>
              </div>
            </div>
            <div class="progress mt-1 mb-0" style="height: 7px;">
              <div id="body_correct" class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="icon-pencil primary font-large-2 float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3>{{ stats.get('Treatment techniques').get('total') }}</h3>
                <span>Treatment Technique Questions</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="icon-speech warning font-large-2 float-left"></i>
              </div>
              <div class="media-body text-left">
                <h3 class="success">{{ stats.get('Treatment techniques').get('answered') }}%</h3>
                <span>Total questions answered from Treatment Techniques </span>
                <div class="progress mt-1 mb-0" style="height: 7px;">
                  <div id="treatment_answered" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="success">{{ stats.get('Treatment techniques').get('correct') }}%</h3>
                <span>Total correct answers</span>
              </div>
              <div class="align-self-center">
                <i class="icon-cup success font-large-2 float-right"></i>
              </div>
            </div>
            <div class="progress mt-1 mb-0" style="height: 7px;">
              <div id="treatment_correct" class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<script>
  document.getElementById("category_answered").style.width = "{{ stats.get('Category').get('answered') }}%"
  document.getElementById("category_correct").style.width = "{{ stats.get('Category').get('correct') }}%"

  document.getElementById("body_answered").style.width = "{{ stats.get('Body region').get('answered') }}%"
  document.getElementById("body_correct").style.width = "{{ stats.get('Body region').get('correct') }}%"

  document.getElementById("treatment_answered").style.width = "{{ stats.get('Treatment techniques').get('answered') }}%"
  document.getElementById("treatment_correct").style.width = "{{ stats.get('Treatment techniques').get('correct') }}%"

</script>

<style>
    .card {
        height: 150px;
    }
    
    body {
        background-color: #e0e0e0;
    }
</style>



{% endblock %}